* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.pad-buttons {
	padding-top:60px;
	padding-bottom:15px;
}

.pad-text {
	padding-left:5px;
	padding-right:5px;
}

.contents {
	display: flex;
    display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.quadrant {
	height:80px;
	width:120px;
}

.options-row {
	align-items:center;
	justify-content:center;
	padding-top:10px;
}

.options-button {
	padding-right:20px;
	padding-left:20px;
}

.text_div {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	border:3px solid white;
	padding-left:5px;
	padding-right:5px;
}

.content_text {
	font-weight:bold;
	font-size:2em;
	color:#fff;
	line-height:40px;
}